* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    background: url(../../tex/wall.svg) repeat;
    padding: 32px 32px;
    width: fit-content;
    height: 352px;
    margin: auto;
}

canvas {
    background: #fff;
    cursor: pointer;
}